@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

header {
  position: relative; /* Adiciona essa propriedade */
  font-family: 'Titillium Web', sans-serif;
  background: #191c29;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 2; /* Adiciona essa propriedade */
}

#header-img{
  height: 120px;
  padding: 0 20px 0 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(var(--rotate), #f7931a, #fcb144 43%, #d9380e);
  padding: 5px 40px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  color: #191c29;
  background-size: 100000% 100000%;
  animation: gradientAnimation 10s linear infinite;
}

main {
  margin-top: 2px;
  background: #212534;
  color: #212534;
  padding: 5px 40px;
  position: relative; /* Adiciona essa propriedade */
  z-index: 1; /* Adiciona essa propriedade */
}
.h1-header {
  margin: 0;
  float: left;
  color: aliceblue;
  font-size: 50px;
  font-weight: 500;
}

.navbar-color .navbar-nav .nav-link {
  
  color: aliceblue;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-link {
    margin: 10px 0;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #d1d1d1;
  font-size: 20px;
  margin-left: 20px;
}



.quote {
  font-family: 'Titillium Web', sans-serif;
  width: 600px;
  color: aliceblue;
  text-align: center;
  padding: 50px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



#quote-text {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
}

#quote-name {
  color: #e96900;
  text-align: end;
  padding: 10px 0 0 200px;
  font-size: 25px;
}

#hr-01 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#hr-01::before,
#hr-01::after {
  content: "";
  display: inline-block;
  width: 50px;
  border-top: 1px solid rgb(255, 255, 255);
  vertical-align: middle;
}

.intro {
  font-weight: 500;
  color: #ffffff;
}

#p-intro {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 700px;
  font-size: 20px; 
}

.h2-intro {
  font-size: 60px; 
  font-weight: 700;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
}

#hr-02 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hr-02::before,
#hr-02::after {
  content: "";
  display: inline-block;
  width: 50px;
  border-top: 1px solid rgb(255, 255, 255);
  vertical-align: middle;
}

.card-box {
  font-family: 'Titillium Web', sans-serif;
  display: flex; /* Aplica um layout flexível */
  flex-wrap: wrap; /* Permite que os cartões quebrem para a próxima linha quando necessário */
  justify-content:center /* Distribui os cartões igualmente ao longo do eixo principal */
}

.card {
  width: 380px;
  display: inline-block;
  height: auto;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 10px;
  padding: 40px 30px 60px;
  vertical-align: top;
  color: #191c29;
  
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#card-p {
  margin-top: 60px;
  font-size: 20px;
}

#card-p2 {
  margin-top: 20px;
  font-size: 20px;
}

.h4-card {
  font-weight: 600;
  font-size: 35px;
}

footer {
  margin-top: 2px;
  background: #191c29;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 40px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}