@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

header {
  font-family: 'Titillium Web', sans-serif;
  background: #191c29;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header-div {
  display: flex;
  align-items: center;
}

#header-img{
  height: 120px;
  padding: 0 20px 0 10px;
  float: left;
}

.h1-header {
  color: aliceblue;
  font-size: 50px;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(var(--rotate), #f7931a, #fcb144 43%, #d9380e);
  padding: 5px 40px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  color: #191c29;
  background-size: 100000% 100000%;
  animation: gradientAnimation 10s linear infinite;
}

main {
  margin-top: 2px;
  background: #212534;
  padding: 5px 40px;
  position: relative; /* Adiciona essa propriedade */
  z-index: 1; /* Adiciona essa propriedade */
}

.navbar-color .navbar-nav .nav-link {
  
  color: aliceblue;
  font-size: 20px;
}


.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #d1d1d1;
  font-size: 20px;
  margin-left: 20px;
}

#hr-01 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#hr-01::before,
#hr-01::after {
  content: "";
  display: inline-block;
  width: 50px;
  border-top: 1px solid rgb(255, 255, 255);
  vertical-align: middle;
}

.navtext {
  color: #d1d1d1;
}

#top {
  margin-top: 40px;
}

#top a:hover {
  color: #f7931a;
}

.intro {
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin: 0 auto; 
  width: 50%;
  padding-top: 100px;
}

#intro-p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  padding-bottom: 80px;
}

.p-text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  text-align: justify;
  width: 60%;
  margin: 0 auto; 
  padding-bottom: 20px;
}

.p-text-f {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  text-align: justify;
  width: 60%;
  margin: 0 auto; 
  padding-bottom: 200px;
}

.number {
  font-size: 70px;
  font-weight: 500;
  color: #ff7300;
  text-align: center;
  margin-top: 160px;
  
}


.h2-intro {
  font-size: 100px; 
  font-weight: 700;
  text-align: center;
  align-items: center;
  padding-bottom: 60px;
}

.h3-intro {
  font-size: 90px; 
  font-weight: 700;
  text-align: center;
  align-items: center;
  padding-bottom: 150px;
}

b {
  text-decoration: none;
  position: relative;
  background-image: linear-gradient(to right, #ffdc00, #ffa500 50%, #ff4500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 120px;
}


#hr-02 {
  text-align: center;
  padding-bottom: 80px;
  content: "";
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgb(255, 255, 255);
  vertical-align: middle;
}



u {
  color: #f7931a;
  font-weight: 600;
}

.time {
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
}

p {
  color: #ffffff;
}


footer {
  margin-top: 2px;
  background: #191c29;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 40px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

footer a {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
}

footer a:hover {
  color: #f7931a;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
}